@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  transition: all;
  font-family: "Poppins", sans-serif;
}
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 10px;
}

/* Background of the draggable scrollbar handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

/* Directional buttons */
/* ::-webkit-scrollbar-button {
  background: #ccc;

} */

/* Corner where the horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background: #999;
}


:root {
  --primary-color: #2980b9;
  --secondary-color: #27ae60;
  --background-color: #2c3e50;
  --text-color: #ecf0f1;
}

Dark theme
[data-theme="dark"] {
  
  --primary-color: #d7a3e5;
  --primary-color-50: #ac34db84;
  --secondary-color: #2ecc71;
  --background-color: #ffffff;
  --text-color: #333333;
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  :hover
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* styles.css */
.animation-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes slide-left {
  0% {
      transform: translateX(150%);
  }
  100% {
      transform: translateX(-150%);
  }
}

@keyframes slide-right {
  0% {
      transform: translateX(-150%);
  }
  100% {
      transform: translateX(150%);
  }
}

  /* @keyframes marque {
    0% {
      transform: translateX(150%);
      /* rotate: -5deg; */
  /* } */
  
  /* 100% { */
      /* transform: translateX(-150%); */
      /* rotate: 5deg; */
  /* } */
  /* } */
  
  /* .animation-text { */
    /* display: inline-block; */
    /* animation-delay: 2s; */
    /* animation: marque 10s linear infinite ; */
  /* } */ 
 /* marquee */
  .marque {
    position: relative;
    padding: 30px 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    overflow: hidden;
  }
  
  .marque_inner {
    display: flex;
    flex:auto;
    flex-direction: row;
    width: fit-content;
  }
  
  .marque_part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: all;
    padding: 0 4px;
  }
  .arrow {
    width: 60px;
    height: 80px;
    margin: 0 1em;
    transition: all 0.5s cubic-bezier(0.75, 0.82, 0.165, 1);
    /* transform: rotate(180deg); */
}



.wrapper{
  width:450px;
  height:50px;
  position:relative;
  margin:auto;
  background:#ccc;
  overflow:hidden;
}

.wrapper::after {
  width:448px;
  height:48px;
  content:"";
  position:absolute;
  border:solid 1px white;
}

.box{
  width:50px;
  height:50px;
  position:absolute;
  background:red;
  font-size:25px;
  line-height:50px;
  text-align:center;
  color: var(--color-just-black);
  
}



.boxes {
  position:relative;
  left:-50px;
}

.nav {
  position:relative;
  text-align:center;
 
  color:white;
  font-size:20px;
  margin:20px 0;
}

/* .bg-voilet//50 {
  background-color: rgb(94, 0, 125);
}  */
  
body{
 /* background-image: linear-gradient(to right, #2f1e50, #a67aff, #2f1e50) ; */
background-color: #ffffff;
} 


  body{
    @apply  font-poppins;
  }